<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>已输入数据表</title>
    <link rel="stylesheet" href="view.css">
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
</head>
<body>
    <h1>已输入数据表</h1>
    <table>
        <thead>
            <tr id="row0">
                <th>中文名</th>
                <th>售价€</th>
                <th>长</th>
                <th>宽</th>
                <th>高</th>
                <th>重量kg</th>
                <th>采购价</th>
                <th>链接</th>
                <th>ASIN</th>
                <th>运费</th>
                <th>利润</th>
                <th>等级</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr id="row1">
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td><a href="#">8</a></td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td><button type="button" class="delete-button">删除</button></td>
            </tr>
            <tr id="row2">
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td><a href="#">8</a></td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td><button type="button" class="delete-button">删除</button></td>
            </tr>
            <tr id="row3">
                <td>矩形桌布（灰）</td>
                <td>15.98</td>
                <td>10</td>
                <td>10</td>
                <td>10</td>
                <td>0.3</td>
                <td>17.73</td>
                <td><a href="https://detail.1688.com/offer/818972013088.html?spm=a262uh.11734178.favorite-offers-offer-list-offer1.2.7de42ef6ufPvIV">1688</a></td>
                <td>B0DLFWMG86</td>
                <td>37.9</td>
                <td>-3.8</td>
                <td>E</td>
                <td><button type="button" class="delete-button">删除</button></td>
            </tr>
            <tr id="row4">
                <td>3层桌面抽屉收纳器</td>
                <td>23.97</td>
                <td>35</td>
                <td>25</td>
                <td>10</td>
                <td>1.5</td>
                <td>32.97</td>
                <td><a href="https://detail.1688.com/offer/617004264409.html?spm=a2637j.29680863/sellersprite.landingPageOfferContainer.d_617004264409.5fec477dN88urU&tdScene=kj-ai&fromkv=refer%3AHVHFGV2ZGNCEMT2KLJMECNCUJJHVEU2WGZHFEUSHGRMUIQKOIJJUOWJSIREU2QS2JQ2VOSCBKNGE4TKGKRLUWVJTIZGUMWSHI4ZEGN2HIUZVISKNJJIUORJTKRJU4QSTI5ATIRCRLAZTGUCVHU6T2PJ5J4111111">1688</a></td>
                <td>B0BYDKZB7W</td>
                <td>65</td>
                <td>60</td>
                <td>A</td>
                <td><button type="button" class="delete-button">删除</button></td>
            </tr>
        </tbody>
    </table>
    <div class="button-container">
        <button type="button" id="returnButton">返回</button>
    </div>
    <script src="example.js"></script>
</body>
</html>