<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>已输入数据表</title>
    <link rel="stylesheet" href="view.css">
    <script src="xlsx.full.min.js"></script>
</head>
<body>
    <h1>已输入数据表</h1>
    <table id="dataTable">
        <thead>
            <tr id="row0">
                <th id="name">中文名</th>
                <th>售价€</th>
                <th>长</th>
                <th>宽</th>
                <th>高</th>
                <th>重量kg</th>
                <th>采购价</th>
                <th>链接</th>
                <th>ASIN</th>
                <th>运费</th>
                <th>利润</th>
                <th>等级</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="button-container">
        <button type="button" id="returnButton">返回</button>
        <button type="button" id="exportButton">导出为Excel</button>
    </div>
    <script src="view.js"></script>
</body>
</html>