/* 设置全局字体和背景颜色，参考popup.css */
body {
    font-family: Arial, sans-serif;
    padding: 10px;
    margin: 0;
    background-color: #222222;
}

/* 标题样式，参考popup.css的文字颜色 */
h1 {
    color: #c3c3c3;
    text-align: center;
    margin-bottom: 20px;
}

/* 表格样式 */
table {
    width: 700px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #222222;
}

th, td {
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid #808080;
    color: #c3c3c3;
    border: 1px solid #808080;
}

th {
    background-color: #8B0000;
    color: #c3c3c3;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#name {
    width: 200px; /* 调整列宽度 */ 
}

/* 链接样式，参考popup.css的链接颜色 */
a {
    color: #ffa600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 删除按钮样式，参考popup.css的按钮样式 */
/* 通用按钮样式 */
button {
    margin: 5px;
    border: 1px solid #8B0000;
    border-radius: 2px;
    width: auto;
    padding: 5px 10px;
    background-color: #8B0000;
    cursor: pointer;
    color: #c3c3c3;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #b62100;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; /* 可根据需要调整按钮与表格的间距 */
}